<div class="field">
  <label class="field__label" [for]="id">
    {{ label }}
  </label>

  <div class="field__password-wrapper">
    <input
      class="field__input"
      [id]="id"
      [type]="inputType"
      [placeholder]="placeholder"
      [attr.autocomplete]="autocomplete"
      [value]="value"
      [disabled]="disabled"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
    />

    <button
      class="field__toggle"
      type="button"
      
      [disabled]="disabled"
      (click)="togglePasswordVisibility()"
    >
      {{ showPassword ? 'Ocultar' : 'Ver' }}
    </button>
  </div>
</div>